/*estilizaçao da fonte pixelada */

pixelify-sans-uniquifier {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/*estilizaçao do corpo do site, como fundo, tamanho e etc*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Pixelify Sans", sans-serif;
    background-image: url('among.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/*estilizaçao do texto jogo do reator */

h1{
    font-family: "Pixelify Sans", sans-serif;
    color: whitesmoke;
    text-shadow: 1px 0px 10px #f0f0f0;
    animation-name: terraria;
    animation-duration: 3s ;
    animation-iteration-count: infinite;
}

/* estilizaçao e configuraçao do painel*/


.panels-container {
    display: flex;
    margin-top: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 0 20px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border: 2px solid #333;
}

.box.active {
    background-color: #4CAF50;
}

.sequence-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.sequence-box {
    width: 50px;
    height: 50px;
    background-color: #3b3b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    font-size: 24px;
    border-radius: 100%;
    color: rgb(175, 175, 175);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.397);
    border: #000000;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin-top: 20px;
}


button {
    background-color: rgb(128, 128, 128);
    border: 2px solid #333;
    height: 100px;
    width: 250px;
    border-radius: 20px;
    font-family: "Pixelify Sans", sans-serif;
}

.panel {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.panels-container {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}


button {
    background-color: #696969;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.548);
    font-family: "Pixelify Sans", sans-serif;
}


button:hover {
    background-color: #000000;
    animation-name: fontcolor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


.box.blink {
    animation: blink-animation 1s infinite;
}

.panels-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 50px;
}


/*configuraçao das animaçoes, como o texto ficar mudando de cor e mudando de posiçao */

@keyframes blink-animation {
    0%, 100% {
        background-color: #f0f0f0;
    }
    50% {
        background-color: #000000;
    }
}


@keyframes terraria{
    
    0%{color: rgb(255, 0, 0); text-shadow:1px 5px 100px rgb(255, 0, 0) ; margin-left: 0px;}
    10%{color: rgb(0, 174, 255); text-shadow:1px 5px 100px rgb(0, 174, 255) ; margin-left: 50px;}
    20%{color: rgb(157, 255, 0); text-shadow:1px 5px 100px rgb(157, 255, 0) ; margin-left: 100px;}
    30%{color: rgb(0, 255, 85); text-shadow:1px 5px 100px rgb(0, 255, 85) ; margin-left: 50px;}
    40%{color: rgb(0, 255, 191); text-shadow:1px 5px 100px rgb(0, 255, 191) ; margin-left: 0px;}
    50%{color: rgb(0, 119, 255); text-shadow:1px 5px 100px rgb(0, 119, 255) ;}
    60%{color: rgb(17, 0, 255);  text-shadow:1px 5px 100px rgb(17, 0, 255) ; margin-right: 0px;}
    70%{color: rgb(111, 0, 255); text-shadow:1px 5px 100px rgb(111, 0, 255) ; margin-right: 50px;}
    80%{color: rgb(234, 0, 255); text-shadow:1px 5px 100px rgb(234, 0, 255) ; margin-right: 100px;}
    90%{color: rgb(255, 0, 157); text-shadow:1px 5px 100px rgb(255, 0, 157) ; margin-right: 50px;}
    100%{color: rgb(255, 0, 0); text-shadow:1px 5px 100px rgb(255, 0, 0) ; margin-right: 0px;}


}

@keyframes fontcolor{
    0%{color: rgb(255, 0, 0);}
    10%{color: rgb(0, 174, 255);}
    20%{color: rgb(157, 255, 0);}
    30%{color: rgb(0, 255, 85);}
    40%{color: rgb(0, 255, 191);}
    50%{color: rgb(0, 119, 255);}
    60%{color: rgb(17, 0, 255);}
    70%{color: rgb(111, 0, 255);}
    80%{color: rgb(234, 0, 255);}
    90%{color: rgb(255, 0, 157);}
    100%{color: rgb(255, 0, 0);}



}